

body {
    margin: 0;
    font-size: 18px;
    font-family: fantasy;
    font-weight: bolder;
    /* background-image: url(https://blog.zoombackground.io/media/posts/3/game-of-thrones-zoom-background-cover.jpg) */
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/99dcad81-130a-49a9-b29b-2d4ef2104875/d1w0gu5-a79d7e30-9011-431a-80ed-c595a6db2222.jpg/v1/fill/w_750,h_1066,q_70,strp/old_scroll_texture_iii_by_esther_sanz_d1w0gu5-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzAwMCIsInBhdGgiOiJcL2ZcLzk5ZGNhZDgxLTEzMGEtNDlhOS1iMjliLTJkNGVmMjEwNDg3NVwvZDF3MGd1NS1hNzlkN2UzMC05MDExLTQzMWEtODBlZC1jNTk1YTZkYjIyMjIuanBnIiwid2lkdGgiOiI8PTIxMTEifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.nfXoG2rHhnoywINm7zqImkodC5XbLHd_8q5EVvhYuRk);
  }
  
  #character-header {
    display: flex;
    justify-content: center;
    /* background-image: radial-gradient(beige, black); */
    background-image: url(https://media1.popsugar-assets.com/files/thumbor/RULArzi8uqr7dtQN78pzJIG1MBc/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2020/04/08/960/n/1922507/c39129f5495d5fb5_game_of_thrones/i/Game-Thrones-Zoom-Background.jpg);
    background-position: center;
    background-position: bottom;
    height: 11rem;
    padding: 1rem;
    text-align: justify;
    width: auto;
    
  }

  p {
    text-align: center;
    margin: 0;
    font-size: larger;
    line-height: 2pc;
  }

  h2 {
      margin-top: 0pc;
      margin-bottom: 0pc;
  }
  
  #character-header img {
    height: 10rem;
    width: auto;
    display: block;
    align-items: center;
    opacity: 80%;
    
  }


  .add-character-form {
    margin: 0;
    margin-left: 9pc;
    color: white;
    text-align: center;
    align-items: center;
    /* background-image: radial-gradient(beige, black);
    background-color: radial-gradient(beige,black); */
    /* background-image: url(https://blog.zoombackground.io/media/posts/3/game-of-thrones-zoom-background-cover.jpg) */
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/99dcad81-130a-49a9-b29b-2d4ef2104875/d1w0gu5-a79d7e30-9011-431a-80ed-c595a6db2222.jpg/v1/fill/w_750,h_1066,q_70,strp/old_scroll_texture_iii_by_esther_sanz_d1w0gu5-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzAwMCIsInBhdGgiOiJcL2ZcLzk5ZGNhZDgxLTEzMGEtNDlhOS1iMjliLTJkNGVmMjEwNDg3NVwvZDF3MGd1NS1hNzlkN2UzMC05MDExLTQzMWEtODBlZC1jNTk1YTZkYjIyMjIuanBnIiwid2lkdGgiOiI8PTIxMTEifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.nfXoG2rHhnoywINm7zqImkodC5XbLHd_8q5EVvhYuRk);
    margin-bottom: 20px;

  }
  
  #character-collection {
    /* margin: 2rem; */
    background-image: url(https://blog.zoombackground.io/media/posts/3/game-of-thrones-zoom-background-cover.jpg)
  }
  
  .card {
    text-align: center;
    border: grey solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 40rem;
    display: inline-grid;
    margin: 1rem 2rem;
    box-shadow: 3px 4px #353333;
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/99dcad81-130a-49a9-b29b-2d4ef2104875/d1w0gu5-a79d7e30-9011-431a-80ed-c595a6db2222.jpg/v1/fill/w_750,h_1066,q_70,strp/old_scroll_texture_iii_by_esther_sanz_d1w0gu5-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MzAwMCIsInBhdGgiOiJcL2ZcLzk5ZGNhZDgxLTEzMGEtNDlhOS1iMjliLTJkNGVmMjEwNDg3NVwvZDF3MGd1NS1hNzlkN2UzMC05MDExLTQzMWEtODBlZC1jNTk1YTZkYjIyMjIuanBnIiwid2lkdGgiOiI8PTIxMTEifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.nfXoG2rHhnoywINm7zqImkodC5XbLHd_8q5EVvhYuRk);
    
}


h3 {
    color: black;
    margin: 0pc;
}
  
  .character-avatar {
    justify-self: center;
    height: 12rem;
    width: auto;
  }
  
  button {
         display:block; /* change this from inline-block */
    width:20%; /* setting the width */
    margin:0 auto; /* this will center  it */
    text-align: center;
    position: relative;
    background-image: url(https://blog.zoombackground.io/media/posts/3/game-of-thrones-zoom-background-cover.jpg);
    border: none;
    border-radius: 5px;
    height: 3.5rem;
    width: max-content;
    color: whitesmoke;
    font-size: 28px;
    justify-self: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
    font-family: fantasy;
  }

  
  button:hover {
    background-image: url(https://i.pinimg.com/originals/e4/44/2d/e4442dc28d46d5757f2310578a8613fa.gif);
    border: #1d1b1b solid 1px;
    color: #000000;
    background-position: center;
    background-position: top;
  }
  
  .container {
    padding: 1rem;
    width: stretch;
    height: auto;
    display: none;
    background: #515DA2;
    opacity: .8;
  }
  
  .add-character-form {
    width: 80%;
    font-family: fantasy;
  }
  
  .submit {
    position: relative;
    background-image: url(https://blog.zoombackground.io/media/posts/3/game-of-thrones-zoom-background-cover.jpg);
    border-radius: 5px;
    height: 3.5rem;
    width: max-content;
    color: whitesmoke;
    font-size: 28px;
    justify-self: center;
    font-family: fantasy;
    margin: 3px;
    margin-top: 15px;
  }
  
  .submit:hover {
    background-image: url(https://i.pinimg.com/originals/e4/44/2d/e4442dc28d46d5757f2310578a8613fa.gif);
    border: #313131 solid 1px;
    color: #000000;
    background-position: center;
  }
  
  
  .input-text {
    border-radius: 5px;
    height: 2rem;
    width: 60%;
    font-size: 18px;
    font-family: monospace;
    margin: 3px;
  }

  img {
    height: 225px;
    width: 225px;
    border: #000000 solid 1px;
    margin-top: 0pc;
    margin-bottom: 1pc;
  }

  #intro { display: none }

  .winter {
    height: 175px;
    width: 175px;
    margin-top: 0pc;
    margin-bottom: 0pc;
    align-items: center;
    border: none;
    text-align: center;
    margin-left: 2pc;
  }